/*form section*/
.body{
background:#f5f6f8;
padding:40px;

}

.form-section{
max-width:500px;
margin:auto;
background:white;
padding:40px;
margin-top: 30px;
margin-bottom: 30px;
border-radius:8px;
color: black;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

h2{
margin-bottom:25px;
}

.form-grid{
display:flex;
flex-direction:column;

gap:20px;
}

.form-group{
display:flex;
flex-direction:column;
position:relative;
}

label{
margin-top:7px;
font-size:14px;
}

input,select{
padding:12px;
border:1px solid #ccc;
border-radius:4px;
}

.phone-box{
display:flex;
gap:5px;
}

.phone-box select{
width:30%;
}

.phone-box input{
width:70%;
}

.error{
color:red;
font-size:12px;
margin-top:4px;
}

.input-error{
border:1px solid red;
}

/* popup */

.popup{
position:absolute;
top:60px;
right:0;
background:#fff;
padding:8px 12px;
border:1px solid #ccc;
border-radius:4px;
font-size:12px;
display:none;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}
.gender-group{
display:flex;
flex-direction:column;
}

.gender-options{
display:flex;
gap:20px;
margin-top:8px;
}

.gender-item{
display:flex;
align-items:center;
gap:5px;
font-size:14px;
}

.gender-item input{
cursor:pointer;
}

/* submit */

.submit-btn{
margin-top:25px;
padding:12px 30px;
background:#2f66d0;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

/* Responsive */

@media(max-width:768px){

.form-grid{
grid-template-columns:1fr;
}

body{
padding:20px;
}

.form-section{
padding:25px;
}

}